@page "/projects"
@using Osiris.Data
@inject ProjectService projectService
@inject NavigationManager NavigationManager

<div class="container pl-0">
    <div class="row">
        <div class="col-6">
            <h3>Projects</h3>
        </div>
        <hr />
        <div class="col-5">
            <button class="button btn-main" @onclick="() => OnOpenProjectAddDialog()">Create Project</button>
        </div>
    </div>
</div>

@if (projectListObj is null)
{
    <LoadingSpinner />
}
else
{
    @foreach (var project in projectListObj)
    {
        <div class="osiris-card mt-3">
            <div class="text-center text-uppercase">@project.Name</div>
            <a class="nav-link oi oi-arrow-circle-right" href="/project/project-view/@project.ProjectId" />
        </div>
    }
    @if (OpenAddProjectDialog)
    {
        <ProjectCreate OnClose="@(AddProject)" />
    }
}

@code {
    List<Project> projectListObj;

    private async Task loadData()
    {
        projectListObj = await Task.Run(() => projectService.GetAllProjectsAsync());
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        await loadData();
    }

    /* Model Logic */

    /* Project Modal Logic*/
    /* Project Add Logic */
    public Boolean OpenAddProjectDialog { get; set; }
    private void OnOpenProjectAddDialog()
    {
        OpenAddProjectDialog = true;
    }
    private async Task AddProject(Boolean accepted)
    {
        if (accepted)
        {
            await loadData();
        }
        OpenAddProjectDialog = false;
        StateHasChanged();
    }
}
