@page "/companies"
@using Osiris.Data;
@inject CompanyService companyService
@inject NavigationManager NavigationManager

<div class="container pl-0">
    <div class="row">
        <div class="col-6">
            <h3>Companies</h3>
        </div>
        <hr />
        <div class="col-5">
            <button class="button btn-main" @onclick="() => OnOpenCompanyAddDialog()">Create Company</button>
        </div>
    </div>
</div>
@if (companyListObj is null)
{
    <LoadingSpinner />
}
else
{
    @foreach (var company in companyListObj)
    {
        <div class="osiris-card mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-7 text-center text-uppercase">@company.Name</div>
                    <a class="col-1 oi oi-external-link mr-2 h4" href="/company/company-view/@company.CompanyId" />
                </div>
            </div>
        </div>
    }
    @if (OpenAddCompanyDialog)
    {
        <CompanyCreate OnClose="@(AddCompany)" />
    }
}

@code {
    List<Company> companyListObj;
    Company companyObject = new Company();

    private async Task loadData()
    {
        companyListObj = await Task.Run(() => companyService.GetAllCompaniesAsync());
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        await loadData();
    }

    /* Modal Logic */

    /* Company Modal Logic*/
    /* Company Add Logic */
    private Boolean OpenAddCompanyDialog { get; set; }
    private void OnOpenCompanyAddDialog()
    {
        OpenAddCompanyDialog = true;
    }
    private async Task AddCompany(Boolean accepted)
    {
        if (accepted)
        {
            await loadData();
        }
        OpenAddCompanyDialog = false;
        StateHasChanged();
    }
}
