@page "/home"
@inject NavigationManager NavigationManager

<button class="btn btn-main" @onclick="() => Logout(typeof(MainLayout))">Logout</button>

@code {
    [CascadingParameter] public App MyApp { get; set; }

    private void Logout(Type layoutType)
    {
        NavigationManager.NavigateTo("/");
        MyApp.SetLayout(layoutType);
    }
}