@page "/home"
@inject NavigationManager NavigationManager

<button class="btn btn-secondary" @onclick="() => ButtonClick(typeof(MainLayout))">Login Page</button>

@code {
    [CascadingParameter] public App MyApp { get; set; }

    void ButtonClick(Type layoutType)
    {
        NavigationManager.NavigateTo("/");
        MyApp.SetLayout(layoutType);
    }
}